<h>Course View Page</h>

<div class= "container">
<% courses.forEach(function(course){ %>
<div>    
    <p>Course : <%=course.course_name %> </p>
    <p>Course : <%=course.course_department %> </p>
    <p>University: <%=course.university_name %> </p>
    <p>Intake: <%=course.course_intake %> </p>
    <p>Language: <%=course.course_language %> </p>
    <p>Test: <%=course.ielts_toefl %> </p>
    <p>Required CGPA: <%=course.course_cgpa %> </p>
    <p>Gre Required: <%=course.gre_score %> </p>
    <p>Deadline: <%=course.course_deadline %> </p>
    <p>Required Language Test Score: <%=course.language_score %> </p>
    <p>City: <%=course.course_city %> </p>
    <p>Country: <%=course.course_country %> </p>
    <p>Additional Information: <%=course.additional_notes %> </p>
</div>    
    
    
    
    
    
    
<% }) %>

</div>